<div class="w3-container" *ngIf="patientDetail">
	<div class="w3-panel w3-round-small w3-teal">
		<h3>Patient Details <button [routerLink]="['/update', index]" class="btn btn-primary">  Edit</button> 
		<button routerLink="/" class="btn btn-secondary">  Back</button></h3>
	</div>
	<div class=" w3-card custom-card"><br>
		<h3 class="text-center">{{patientDetail.first_name}} {{patientDetail.last_name}}</h3>
		<hr>
		<table class="w3-table w3-bordered">
			<tr>
				<td><i class="w3-medium custom-icon fa fa-user"></i>First Name</td>
				<td>: <b>{{patientDetail.first_name}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-user"></i>Last name</td>
				<td>: <b>{{patientDetail.last_name}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-envelope-o"></i> Email Address</td>
				<td>: <b>{{patientDetail.email}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-phone"></i> Phone</td>
				<td>: <b>{{patientDetail.phone}}</b></td>
			</tr>
		</table>
	</div>
</div>
